<nav class="pagination" aria-label="{{t "Pagination"}}">
	<div class="inner">
		<div class="box pagination-box">
			{{#if next}}
			<a title="{{t "Previous Posts"}}" class="pagination-prev" href="{{page_url next}}">
				<span class="pagination-label">
					{{#post}}
					{{#get "posts" limit="1"}}
					{{date published_at format="MMMM YYYY"}}
					{{/get}}
					{{/post}}
				</span> 
				<!-- <i class="icon icon-arrow-right"></i> -->
			</a>
			{{/if}}
			<span class="pagination-info">{{t "Page {page} / {pages}" page=page pages=pages}}</span>
			{{#if prev}}
			<a title="{{t "Recent Posts"}}" class="pagination-next" href="{{page_url prev}}">
				<!-- <i class="icon icon-arrow-left"></i> --> 
				<span class="pagination-label">{{t ">>>"}}</span>
			</a>
			{{/if}}
		</div>
	</div>
</nav>
<!-- <div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="#" id="load-posts" data-posts_per_page="6" class="btn visible">Load more posts</a>
		</div>
	</div>
</div> -->