<nav class="pagination" aria-label="{{t "Pagination"}}">
	<div class="inner">
		<div class="box pagination-box">
			{{#if next}}
			<a title="{{t "Previous Posts"}}" class="pagination-prev" href="{{page_url next}}">
				<span class="pagination-label">{{t "Past"}}</span> 
			</a>
			{{#get "posts"}}
			{{#post @last}}
			<span class="pagination-label">{{t "title"}}</span> 
			{{/post}}
			{{/get}}
			{{/if}}
	
			<span class="pagination-info">{{t "{page} / {pages}" page=page pages=pages}}</span>
			
			{{#if prev}}
			<a title="{{t "Recent Posts"}}" class="pagination-next" href="{{page_url prev}}">
				<!-- <i class="icon icon-arrow-left"></i> --> 
				<span class="pagination-label">{{t "Present"}}</span>
			</a>
			{{/if}}
		</div>
	</div>
</nav>
<!-- <div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="#" id="load-posts" data-posts_per_page="6" class="btn visible">Load more posts</a>
		</div>
	</div>
</div> -->
<div id="pagination-buttons" style="text-align:center;">
	<button id="prev-posts" disabled><a>Previous Posts</a></button>
	<button id="next-posts"><a>Next Posts</a></button>
</div>